@page
@model Shoe_Store_Application.Pages.Product.ProductDetailsModel
@using Microsoft.AspNetCore.Http


@{

}
<link rel="stylesheet" href="~/css/ProductDetails.css" />

<div class="page-content min-vh-100 ">

    <div class="left-container min-vh-100">

        <!-- Image Rendered depending on selected id from product page -->      
        <img class="product-image" src="@Model.productInfo.image" />

        <div class="product-description">
            <!-- Description -->
            <h1>
                Details
            </h1>

            @Model.productInfo.description
            <br />
            <!-- Product Code -->
            Product Code: @Model.productInfo.id
        </div>

    </div>


    <div class="right-container min-vh-100">

        <div class="product-info">
            <!-- Product Name -->
            <h1> @Model.productInfo.name</h1>

            <!-- Product Category-->
            <h2> @Model.productInfo.category shoe</h2>

            <!-- Product Price -->  
            <h3> $@Model.productInfo.price</h3>
        </div>



        <form method="post">
            <input type="submit" value="Add to Cart"/>        
        </form>

       

    </div>
    


</div>

<script>
    let handleClick = () => 
    {


        console.log("Hello");   
    }

</script>

