@page
@model Shoe_Store_Application.Pages.Users.EditUserModel
@{
}

<!-- Form container -->
<div class="container-md border mt-5 m-auto">

    <h2 class="d-flex justify-content-center"> Edit User </h2>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="d-flex justify-content-center alert-warning alert-dismissible fade show">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="close"> Close </button>
        </div>
    }

    <form class="d-flex align-content-center mt-5" method="POST">
        <input type="hidden" name="id" value="@Model.userInfo.id" />

        <div class="container d-flex flex-column">

            <!-- Name input field -->
            <div class="form-group">
                <label class="col-sm-3 col-form-label"> Name </label>
                <input type="text" class="form-control" name="name" value="@Model.userInfo.name">
            </div>

            <!-- Email input field -->
            <div class="form-group">
                <label class="col-sm-3 col-form-label"> Email </label>
                <input type="text" class="form-control" name="email" value="@Model.userInfo.email">
            </div>

            <!-- Password input field -->
            <div class="form-group">
                <label class="col-sm-3 col-form-label"> Password </label>
                <input type="text" class="form-control" name="password" value="@Model.userInfo.password">
            </div>

            <!-- Success Message -->
            @if (Model.successMessage.Length > 0)
            {
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <div class='alert-success alert-dismissible fade show' role="alert">
                            <bold>@Model.successMessage</bold>
                            <button type="button" class="btn-close" data-bs-dismiss='alert' aria-label="close"> Close </button>
                        </div>
                    </div>
                </div>
            }

            <!-- Submit and Cancel Button -->
            <div class="form-group mt-5 mb-md-3 d-flex justify-content-center">
                <button type="submit" class="rounded-3 btn-primary w-25 "> Submit </button>
                <input class=" rounded-3 btn-danger w-25" type="button" value="Cancel" onclick="window.location = '/'" />
            </div>

        </div>
    </form>


</div>

